body {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: block;
  background-color: aliceblue;
}

.main {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

img {
  width: 100px;
  height: 100px;
}
