html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  border: 0;
  background-color: black;
  font-size: 10px;
  color: white;
  overflow: hidden;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

.player {
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.direction-left {
  transform: rotate(180deg);
}

.direction-right {
  transform: rotate(0deg);
}

.direction-up {
  transform: rotate(-90deg);
}

.direction-down {
  transform: rotate(90deg);
}